
.slideshowContainer{
  display: block;
  width:100%;
  height:100vh;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
  overflow: hidden;
  
}

.imageSlides{
  position: absolute;
  width:100%;
  height:100vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-color: azure;
  z-index: -1;
   
}

.visible {
  opacity: 1;
}


#first{
  background: url(images/background/1.jpg);
  background-size: cover;
  background-position: center;
  
}

#second{
  
  background: url(images/background/2.jpg);
  background-size: cover;
  background-position: 50% 40%;
  
}

#third{
  background: url(images/background/3.jpg);
  background-size: cover;
  background-position: 50% 10%;
}

#fourth{
  background: url(images/background/4.jpg);
  background-size: cover;
  background-position: 50% 10%;
}


#fifth{
  background: url(images/background/5.jpg);
  background-size: cover;
  background-position: 50% 10%;
}


.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.75;
}



#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 10;
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}